.p-billing {}

  .p-billing-table {
    td {
      vertical-align: top;
    }
  }

  .p-billing-content {
    padding: 10px;
  }

  .p-billing-formbox {
    @include dashboardContentBox(false, false, false);
    margin-bottom: 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    background: #f6fafb;

    input, select {
      height: 45px;
      width: 100% !important;
    }

    .btn {
      padding: 10px;
    }

  }

  .p-billing-formbox__inner {
    padding: 0 10px;

    .form-group {
      min-width: 150px;
      display: inline-block;
      margin: 0;
    }

  }
