.p-medication-history {
  margin: -15px -30px -15px -15px;
  padding: 0;
  list-style: none;


  > li {
    padding: 15px;
    border-bottom: 1px solid #eeecec;

    &:last-child {
      border-bottom: 0;
    }

    .name {
      font-weight: bold;
    }

    .date {}

  }


}
