/* Media Queries
   ========================================================================== */

$laptop-above: 1281px;
$laptop-below: 1440px;

$tablet-below: 767px;
$tablet-above: 768px;

$mobile-below: 600px;


$slider-breakpoint: 960px;
