body, html {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: "Courgette";
  letter-spacing: -1px;
}

p {
  font-family: Arial;
  font-weight: bold;
}

a, a:hover, a:focus {
  color: #fff;
  text-decoration: none;
}