/*
 * SIVA-APP Site CSS
 * Author: FluidlabsPH
 * Date: 21-Oct-2015
 */

@import "bootstrap-theme-default";
@import "vendor/bootstrap";
//@import "compass";
@import "bourbon";


/* Variables
   ========================================================================== */

@import "variables";

/* VENDOR
   ========================================================================== */

/* BASE
   ========================================================================== */



html, body {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body {
  letter-spacing: .5px;
}

hr {
   border-color: #EFEFEF;
}

@import "helpers/helpers";

/* Components
   ========================================================================== */



/* HELPERS
   ========================================================================== */

/* LAYOUT
   ========================================================================== */


/* PAGES
   ========================================================================== */


/* MODULES
   ========================================================================== */
